footer .piedepagina{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--rojizo);
   
}
footer .piedepagina a{
    color: black;
        text-decoration: none;
}

footer .piedepaginaa .log {
    text-align: center;
}

footer .piedepagina img {
    height: 120px;
    margin-top: 5px;

    text-align: center;
}





footer .redes a{
    margin:10px;
    width: 50%;
    
}
