
 main section.banner img{
   display: none;
    
   
 }
  
 main section h2{
    padding: 20px;
 }
 
 
 main section .articulos {
 display:flex;
 justify-content: space-evenly;
 text-align: center;
 flex-wrap: wrap;
 }
 
 
 main section .articulos .libros{
   margin: 10px;
    padding: 10px;
    border:solid 1px black;
    width: 200px;
 }
 main section .articulos .libros img{
   
    width: 100px;
 }
 main section .articulos .libros p{
    display:none;
 }
 
 /* tablet */
 @media (min-width:461px) {
 
 
    main section.banner img{
       width :100%;
       display:block;     
    }
     
    main section .articulos .libros p{
       display:block;
    }
 
 
 }
 
 
 /* desktop */
 @media (min-width:769px) {
    
 }