main.listar{
    margin: 30px auto;
	width: 100% ;
    text-align: center;
	
}

.listar .botonCrear{
	background-color: var(--rojizo);
    border-radius: 6px;
    color: var(--blanco);
    height: 54px;
    width: 192px;
	margin-bottom: 10px;
}
main .crearboton {
    margin: 20px ;
}

main table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

main table thead{
	background-color: var(--rojizo);
	border-bottom: solid 5px var(--azul);
	color: white;
}
main table a{
	color:black;
}
main tr:hover a{
	
	color: white;
}
main table thead th, td {
	padding:20px 10px;
    margin:200px;
}

main tr:nth-child(even){
	background-color: #ddd;
}

main tr:hover td{
	background-color: var(--azul);
	color: white;
}
