.nosotros{
    background-image: url('../images/fondonosotros.png');
    background-size:contain
   
}
.nosotros main h2{
    text-align: center;
}
.nosotros main p{
    font-size: large;
}
.nosotros main {
   margin: 30px 30px ;
   padding: 0;
}

.nosotros .consultas{
    font-weight:bold;

}
.nosotros .redes-banner{
    background-color: var(--rojizo);
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;
}
.nosotros .red-icon-banner{
    margin: 4px;
    font-size: 1.1em;
    color:var(--blanco)
}
.nosotros main .texto{
    border:2px solid var(--azul);
    background-color: var(--amarillo);
    border-radius: 10px;
    margin-top:20px;

}
.nosotros main .texto p{
    font-weight:bold;
    padding: 10px
}



@media (min-width:769px) {
    .nosotros .mapa{
        text-align: center;
    }
    .nosotros .redes-banner{
        margin-right: 20px;
    }
    .nosotros .red-icon-banner{
        font-size: 1.4em;
    }
    .nosotros main p {
        margin:20px 150px;
    
    }
    .nosotros main h3 {
        margin:20px 150px;
    
    }
}