*{
    box-sizing: border-box;
}
.perfil{
    background-image: url('../images/fondonosotros.png');
    background-size:contain
   
}
.perfil main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.perfil main h1 {
    text-transform: capitalize;
    margin:10px 5px 5px ;
}

.perfil main h2 {
    text-transform: capitalize;
    margin:2px;
}
.perfil main .container_img .avatar_edit {
    position:absolute;
    right: 50%;
    z-index: 1;
    top: 360px;
    width:35px;
}
.perfil main .container_img .avatar_edit input {
    display: none;
}
.perfil main .container_img .avatar_edit label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.perfil main .container_img .avatar_edit label{
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil main .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    font-weight: bold;
}
.perfil main .container label{
    margin: 4px;
}
.perfil main .container input{
    width: 100%;
    padding: 5px 10px;
}
.perfil main small{
    margin-top: 5px;
    color: var(--rojizo);
}
.perfil main button {
    border: none;
    background-color: var(--rojizo);
    height: 40px;
    color: white;
    border-radius: 8px;
    margin: 15px 35px 15px 35px;
    padding: 10px;
}
.perfil main img{
   height: 200px;
   width: 200px;
    padding: 20px;
    border-radius: 50%;
}

/*tablet*/
@media (min-width:460px) {
    .perfil main img{
       
        padding: 20px;
    }

    .perfil main .container_img .avatar_edit {
        
        top: 400px;
        
    }
}
/*desktop*/
@media (min-width:769px) {
    .perfil main img{
       
        padding: 20px;
        border-radius: 50%;
    }
}