/* Fuente a utilizar */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root{
    /* Colores */
    --blanco: #ffffff;
    --amarillo: #fff3b0;
    --naranja:#e09f3e;
    --rojizo:#9e2a2b;
    --bordo: #540b0e;
    --azul: #335c67;

    /* Fuentes */
    --Fuente:'Open Sans', sans-serif;
}