/* Fuente a utilizar */
@import url();

:root{
    /* Colores */
    --blanco: #ffffff;
    --amarillo: #fff3b0;
    --naranja:#e09f3e;
    --rojizo:#9e2a2b;
    --bordo: #540b0e;
    --azul: #335c67;

    /* Fuentes */

}