<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Page Not Found</title>
</head>
<body class="error-404">
    <h1>Esta página no fue encontrada</h1>
    <section>
        <a href="/"><img src="/images/LogoColor.png" alt="logo de página"></a>
    </section>
    <article><a href="/"><button>Volver atrás</button></article></a>
</body>
</html>