<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body class="error-404">
    <h1>Esta página no fue encontrada</h1>
    <section>
        <a href="/"><img src="/images/LogoColor.png" alt="logo de página"></a>
    </section>
    <article><a href="/"><button>Volver atrás</button></article></a>
</body>
</html>