<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body class="nosotros">

        <%- include('./partials/header') %>

            <main>
                <section class="banner">
                    <div class="glider-contain">
                        <div class="glider">
                            <img src="/images/NOSOTROS.png" alt="banner promocional">

                        </div>


                        <div role="tablist" class="dots"></div>
                    </div>

                </section>
                

                <section>
                <h3>¿COMO COMPRAR?</h3>
                <p>Elegí el producto que vas a comprar
                    Si querés más de uno, sumálos a tu carrito.</p>
        
                <p>Pagá con el medio de pago que prefieras
                    Comprá con seguridad.</p>
        
                <p>Recibí el producto que esperás</p>
                <p>Elegí la forma de entrega que prefieras</p>
        
                <p>¡Listo! A disfrutar de tu compra!</p>
        
        
        
                <h3>¿QUÉ MEDIOS DE PAGO PUEDO ELEGIR PARA MI COMPRA?</h3>
                <p>Podrás realizar el pago de tu compra a través de la plataforma Decidir (administrada por Pay Way),
                    con Tarjeta de crédito o Tarjeta de débito, o con transferencia bancaria.</p>
        
        
        
                <h3>¿CUÁLES SON LOS MEDIOS DE ENVÍO?</h3>
                <p>Tendrás la opción de seleccionar envío a domicilio o retiro en sucursal</p>
        
        
        
                <h3>¿CÓMO OBTENGO LA FACTURA DE MI COMPRA?</h3>
                <p>La venta de libros está exenta de iva, por lo que vas a recibir una factura electrónica “C”, por
                    e-mail. En el caso de requerir factura A, por favor especificarlo en los comentarios en el momento
                    del pago.
        
        
        
                <h3>¿QUIÉN PUEDE RECIBIR MI COMPRA?</h3>
                <p>Las entregas de los pedidos se realizan únicamente a personas mayores de 18 años con acreditación de
                    identidad.</p>
        
        
        
                <h3>¿CUÁLES SON LAS CONDICIONES PARA REALIZAR CAMBIOS Y DEVOLUCIONES?</h3>
                <p>Los cambios y devoluciones se aceptarán hasta 10 días posteriores a la recepción del pedido en el
                    domicilio.
                    Sólo se podrán cambiar o devolver aquellos productos que no hayan sido utilizados y se encuentren en
                    el mismo estado en el que se los recibió. El producto debe conservar su empaque y accesorios
                    originales y no podrá tener signos de deterioro, rotura, escritura y/o manchas.</p>
           
           </section>
              
            </main>
        
        <%- include('./partials/footer') %>
        
       
