<html lang="es">

<%- include('./partials/head') %>

<body class="ayuda">

<%- include('./partials/header') %>

    <main>
        <section class="banner">
            <div class="glider-contain">
                <div class="glider">
                     <img src="/images/NOSOTROS.png" alt="banner promocional">
                  
                </div>

               
                <div role="tablist" class="dots"></div>
            </div>
        
        </section>

     <section class="frecuentes">
        <h1> Preguntas frecuentes</h1>

                <h3>¿COMO COMPRAR?</h3>
                <p>Elegí el producto que vas a comprar
                    Si querés más de uno, sumálos a tu carrito.</p>

                <p>Pagá con el medio de pago que prefieras
                    Comprá con seguridad.</p>

                <p>Recibí el producto que esperás</p>
                <p>Elegí la forma de entrega que prefieras</p>

                <p>¡Listo! A disfrutar de tu compra!</p>



                <h3>¿QUÉ MEDIOS DE PAGO PUEDO ELEGIR PARA MI COMPRA?</h3>
                <p>Podrás realizar el pago de tu compra a través de la plataforma Decidir (administrada por Pay Way),
                    con Tarjeta de crédito o Tarjeta de débito, o con transferencia bancaria.</p>



                <h3>¿CUÁLES SON LOS MEDIOS DE ENVÍO?</h3>
                <p>Tendrás la opción de seleccionar envío a domicilio o retiro en sucursal</p>



                <h3>¿CÓMO OBTENGO LA FACTURA DE MI COMPRA?</h3>
                <p>La venta de libros está exenta de iva, por lo que vas a recibir una factura electrónica “C”, por
                    e-mail. En el caso de requerir factura A, por favor especificarlo en los comentarios en el momento
                    del pago.



                <h3>¿QUIÉN PUEDE RECIBIR MI COMPRA?</h3>
                <p>Las entregas de los pedidos se realizan únicamente a personas mayores de 18 años con acreditación de
                    identidad.</p>



                <h3>¿CUÁLES SON LAS CONDICIONES PARA REALIZAR CAMBIOS Y DEVOLUCIONES?</h3>
                <p>Los cambios y devoluciones se aceptarán hasta 10 días posteriores a la recepción del pedido en el
                    domicilio.
                    Sólo se podrán cambiar o devolver aquellos productos que no hayan sido utilizados y se encuentren en
                    el mismo estado en el que se los recibió. El producto debe conservar su empaque y accesorios
                    originales y no podrá tener signos de deterioro, rotura, escritura y/o manchas.</p>



   
        <h3>COSTO Y TIEMPO DE ENVIO</h3>
        <h4>Envio a domicilio</h4>
        <p>
            Para los envíos a domicilio ofrecemos dos modalidades: Estándar y Express. .

            Una vez que tu pedido sea despachado recibirás vía email el código de tracking para que puedas hacer un
            seguimiento del mismo en tiempo real.

            Los servicios de entrega no contemplan franja horaria especial para la misma. Por favor indique un domicilio
            de entrega en donde pueda recibirlo en la franja horaria especificada para cada modalidad.

            Para calcular el costo de envío no es necesario iniciar el proceso de compra. Desde la publicación de tu
            interés, a la derecha del título, podrás encontrar un ícono “Calcular costo de envío”.

            Al hacer click podrás colocar tu código postal y visualizar las diferentes opciones asignadas para tu zona,
            costos y tiempos estimados.

            El envío a domicilio es bonificado en compras a partir de $6349 (o el importe que SBS designe para el
            futuro). Ésta promoción no es acumulable con otros beneficios.</p>

        <h3>MEDIOS DE PAGO</h3>
        <h4>Tarjetas de credito y debito</h4>
        <p>
            Podrás abonar tus compras con tarjetas de crédito Visa, Mastercard, American Express, Cabal y Diners, y
            tarjetas de débito Visa y Maestro.

            Garantizamos un nivel de seguridad para todas las compras utilizando la tecnología SPS que certifica una
            transacción 100% segura. No almacenamos ningún dato de tu tarjeta en nuestro sitio.
        </p>
        <p class="consultas">Si tenes una consulta te podes acercar de Lunes a Sabados de 9 a 20hs en la Calle Falsa 123 o contactarnos por nuestras redes. Te esperamos.</p>

        
        <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3222.1284310819506!2d-58.394294586703246!3d-34.583617998407654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa199c2f643%3A0x49e543b8331abe7d!2sMuseo%20Nacional%20de%20Bellas%20Artes!5e0!3m2!1ses-419!2sar!4v1660292562577!5m2!1ses-419!2sar" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
    </main>

<%- include('./partials/footer') %>

</body>