<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body class="carrito">

<%- include('./partials/header') %>

    <main>
        <section>
            <article>
                <h3>Drácula, Bram Stoker</h3>
                <div class="imagenes">
                    <img src="/images/DraculaCover.jpg" alt="portada de Drácula">
                </div>
                <div class="detail">
                    <div class="precio-descuento">
                        <p class="precio-secundario">$12.158</p>
                        <span>50%</span>
                    </div>
                    <p class="precio-principal">$6.079</p>
                    <div class="añadir-elementos">
                        <div class="restar">-</div>
                        <input type="number" value="1">
                        <div class="agregar">+</div>
                    </div>
                </div>
                <button><i class="fas fa-times"></i></button>
            </article>
            <article>
                <h3>Carrie, Stephen King</h3>
                <div class="imagenes">
                    <img src="/images/Carrie.PNG" alt="portada de Carrie">
                </div>
                <div class="detail">
                    <div class="precio-descuento">
                        <p class="precio-secundario">$5.598</p>
                        <span>50%</span>
                    </div>
                    <p class="precio-principal">$2.799</p>
                    <div class="añadir-elementos">
                        <div class="restar">-</div>
                        <input type="number" value="1">
                        <div class="agregar">+</div>
                    </div>
                </div>
                <button><i class="fas fa-times"></i></button>
            </article>
            <article>
                <h3>El silencio de los corderos, Thomas Harris</h3>
                <div class="imagenes">
                    <img src="/images/SilenceOfTheLamb.PNG" alt="Portada de El silencio de los corderos">
                </div>
                <div class="detail">
                    <div class="precio-descuento">
                        <p class="precio-secundario">$7.254</p>
                        <span>50%</span>
                    </div>
                    <p class="precio-principal">$3.627</p>
                    <div class="añadir-elementos">
                        <div class="restar">-</div>
                        <input type="number" value="1">
                        <div class="agregar">+</div>
                    </div>
                </div>
                <button><i class="fas fa-times"></i></button>
            </article>
        </section>
        <section class="Numeros">
            <form action="" method="post">
                <h3>Subtotal</h3>
                <div class="valor-productos">
                    <p>$6.079</p>
                    <p>$2.799</p>
                    <p>$3.627</p>
                    <div class="suma"><i class="fas fa-plus"></i></div>
                </div>
                <span>$25.010</span>
                <p class="precio-principal">$12.505</p>
                <div class="precios">
                    <div class="precios-categorias">
                        <h3>¡Ahorro Total!</h3>
                        <p class="precio-ahorro">-$3.974</p>
                    </div>
                    <div class="precios-categorias">
                        <h3>Precio Final</h3>
                        <p class="Precio-final">$12.505</p>
                    </div>
                </div>

                <h3>Calcula tu envio</h3>

                <div class="postal">
                    <label for="envio">Codigo postal</label>
                    <input type="number" name="envio" id="envio" placeholder="xxxx">
                </div>

                <div class="input">
                    <input type="number" name="precio" id="precio" value="286000">
                </div>
                <div class="ofertas">
                    <input type="checkbox" name="ofertas" id="ofertas">
                    <label for="ofertas">Desea recibir nuestras proximas ofertas?</label>
                </div>
                <div class="botones">
                    <button type="submit">Comprar Productos</button>
                </div>
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>