<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f49c1e77a4.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>

<body class="detalle-de-producto">
    <header>
        <section class="top">
            <!-- menu hamburguesa-->
            <div class="burger">
                <input type="checkbox" name="burger" id="burger" checked>
                <label for="burger"><i class="fas fa-bars"></i></label>
                <nav>
                    <ul type="none" class="menu">
                        <li><a class="burger-op" href="#">Categorias</a></li>
                        <li><a class="burger-op" href="#">Contacto</a></li>
                        <li><a class="burger-op" href="./login">Login</a></li>
                        <li><a class="burger-op" href="./register">Registro</a></li>
                    </ul>
                </nav>
            </div>
            <!--logo que redirecciona al home -->
            <div class="logo">
                <a href="/">
                    <img src="/images/logoprovisorio.png" alt="logo de página">
                </a>
            </div>
            <div class="busqueda">
                <input type="search" placeholder="Buscar por libros, autores y más">
                <button><i class="fab fa-sistrix"></i></button>
            </div>
            <section class="icon">
                <!--logo de login pantallas grandes-->
                <div class="login-icon">
                    <a href="./login">
                        <i class="fas fa-user"></i>
                    </a>
                </div>
                <!--logo del carito que redireccione al carrito -->
                <div class="cart">
                    <a href="./carrito">
                        <i class="fas fa-cart-arrow-down"></i>
                    </a>
                </div>
            </section>
        </section>
        <!--opciones del menu de tablet y desktop-->
        <section class="menu-opciones">
            <ul type="none">
                <li><a href="./nosotros">Nosotros</a></li>
                <li><a href="/">Categorias</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="./register">Contactanos</a></li>
            </ul>
        </section>
    </header>
    <main>
        <section class="top-main">
            <section class="libro">
                <!--iconos de flechas e imagen del libro-->
                <div class="previa"><button><i class="fas fa-angle-left"></i></button></div>
                <div class="portada"> <img src="/images/DraculaCover.jpg" alt="imagen del producto"> </div>
                <div class="next"><button><i class="fas fa-angle-right"></i></button></div>
            </section>
            <!--titulo y precio + iconos de tarjeta de credito y billete y boton de compra-->
            <section class="datos">
                <h1 class="titulo">Drácula, Bram Stoker</h1>
                <h3 class="precio">$6.079 </h3>
                <!--datos de pagos-->
                <article class="promos">
                    <div class="credito">
                        <i class="far fa-credit-card"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="efectivo">
                        <i class="far fa-money-bill-alt"></i>
                        <p>Proin varius felis ut arcu scelerisque eleifend.</p>
                    </div>
                </article>
                <!-- boton de agregar al carrito y caja de envios y compra por local-->
                <section class="compra">
                    <button class="boton-agregar">Agregar al carrito</button>
                    <article class="envios">
                        <h4>Metos de envio</h4>
                        <input type="number" placeholder="Tu código postal">
                        <button class="calcular">Calcular</button>
                        <a href="/">No se mi codigo postal.</a>
                    </article>
                </section>
            </section>
        </section>
        <!-- descripcion del producto-->
        <section class="descripción">
            <h3>Caracteristicas principales</h3>
            <span>Título del libro :</span>
            <p>Drácula (english Edition)</p>
            <span>Autor : </span>
            <p>Stoker, Bram</p>
            <span>Idioma : </span>
            <p>Inglés</p>
            <span>Editorial del libro : </span>
            <p>CreateSpace Independent Publishing Platform</p>
            <span>Tapa del libro : </span>
            <p>Blanda</p>
            <span>Año de publicación : </span>
            <p>2018</p>
            <span>Modelo : </span>
            <p>Inglés</p>
        </section>
        <!--iconos de redes sociales-->
        <article class="redes">
            <!-- < class="lista-iconos">-->
            <a class="red-icon" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a class="red-icon" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a class="red-icon" href="https://www.gmail.com"><i class="far fa-envelope"></i></a>
            <a class="red-icon" href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>

        </article>
        <!--Productos parecidos-->
        <section class="parecidos">
            <h3 class="relacionados">Productos relacionados</h3>
            <article class="otroslibros">
                <a href="/detalle"><img src="/images/SilenceOfTheLamb.PNG" alt="portada de silence of the lamb"></a>
            </article>
            <article class="otroslibros">
                <a href="/detalle"><img src="/images/Carrie.PNG" alt="portada de carrie"></a>
            </article>
            <article class="otroslibros">
                <a href="/detalle"><img src="/images/interviewwiththevampire.PNG"
                        alt="portada de interview with the vampire"></a>
            </article>
            <article class="otroslibros">
                <a href="/detalle"><img src="/images/edgarallanpoe.PNG"
                        alt="portada de coleccion de edgar allan poe"></a>
            </article>
        </section>
    </main>
    <footer>
        <article class="redes">
            <!-- < class="lista-iconos">-->
            <a Target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a Target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a Target="_blank" href="https://www.gmail.com"><i class="far fa-envelope"></i></a>
            <a Target="_blank" href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>

        </article>
        <section class="piedepagina">
            <div class="logo">
                <a href="/">
                    <img src="/images/logoprovisorio.png" alt="logo de página">
                </a>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">categoria</a></li>
                <li><a href="#">novedades</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <section class="servicios">
                <h4>Servicio de Atención al cliente</h4>
                <p>Email: libreria@tiempo.com.ar</p>

                <p> Central Telefónica: 0810 345 5577</p>

                <p>WhatsApp: 1140374037</p>
            </section>
        </section>
    </footer>
</body>

</html>