<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>

<body class="home">
<%- include('./partials/header') %>

    <main>

        <section class="banner">
            <img src="/images/banner.png" alt="banner promocional">
        </section>

        <section>
            <h2>NOVEDADES</h2>
            <section class="articulos">

                <article class="libros">
                    <a href="/"><img src="/images/el aleph.jpg" alt="El Aleph"></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <a href="/"><img src="/images/la ciudad y los perros.jpg" alt="La ciudad y los perros "></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros - mario vargas </h4>
                    </div>

                </article>

                <article class="libros">
                    <a href="./detalle"> <img src="/images/DraculaCover.jpg" alt="Dracula"></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.079</h3>
                        <p class="descuento">40% Off</p>
                        <h4>Dracula -Bram Stoker </h4>
                    </div>

                </article>

                <article class="libros">
                    <a href="/"><img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros "></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <a href="/"><img src="./images/el aleph.jpg" alt="El Aleph"></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <a href="/"><img src="./images/DraculaCover.jpg" alt="Dracula"></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.079</h3>
                        <p class="descuento">40% Off</p>
                        <h4>Dracula -Bram Stoker </h4>
                    </div>

                </article>
            </section>
        </section>
        <section>
            <h2>OFERTAS</h2>
            <section class="articulos">

                <article class="libros">
                    <a href="/"><img src="./images/el aleph.jpg" alt="El Aleph"></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros ">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros ">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>
        </section>
        <section>
            <h2>CATEGORIAS</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros ">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros ">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>
        </section>
        <section>
            <h2>LO MAS VENDIDO</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros ">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <a href="/">
                   <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros "></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph">
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>

        </section>

    </main>


    <%- include('./partials/footer') %>
   
</body>

</html>