<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f49c1e77a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

    <title>LIBRERIA EL TIEMPO</title>
</head>

<body class="home">
    <header>

        <section class="top">
            <!-- menu hamburguesa-->
            <div class="burger">
                <input type="checkbox" name="burger" id="burger" checked>
                <label for="burger"><i class="fas fa-bars"></i></label>
                <nav>
                    <ul type="none" class="menu">
                        <li><a class="burger-op" href="#">Categorias</a></li>
                        <li><a class="burger-op" href="#">Contacto</a></li>
                        <li><a class="burger-op" href="./login">Login</a></li>
                        <li><a class="burger-op" href="./register">Registro</a></li>
                    </ul>
                </nav>
            </div>
            <!--logo que redirecciona al home -->
            <div class="logo">
                <a href="/">
                    <img src="/images/logoprovisorio.png" alt="logo de página">
                </a>
            </div>
            <div class="busqueda">
                <input type="search" placeholder="Buscar por libros, autores y más">
                <button><i class="fab fa-sistrix"></i></button>
            </div>

            <section class="icon">
                <!--logo de login pantallas grandes-->
                <div class="login-icon">
                    <a href="./login">
                        <i class="fas fa-user"></i>
                    </a>
                </div>
                <!--logo del carito que redireccione al carrito -->
                <div class="cart">
                    <a href="./carrito">
                        <i class="fas fa-cart-arrow-down"></i>
                    </a>
                </div>
            </section>


        </section>



        <!--barra de busqueda-->

        <!--opciones del menu de tablet y desktop-->
        <section class="menu-opciones">
            <ul type="none">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </section>

    </header>

    <main>

        <section class="banner">
            <img src="/images/banner.png" alt="banner promocional">
        </section>

        <section>
            <h2>NOVEDADES</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="/images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="/images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros - mario vargas </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="/images/DraculaCover.jpg" alt="Dracula" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.079</h3>
                        <p class="descuento">40% Off</p>
                        <h4>Dracula -Bram Stoker </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/DraculaCover.jpg" alt="Dracula" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.079</h3>
                        <p class="descuento">40% Off</p>
                        <h4>Dracula -Bram Stoker </h4>
                    </div>

                </article>
            </section>
        </section>
        <section>
            <h2>OFERTAS</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>
        </section>
        <section>
            <h2>CATEGORIAS</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>
        </section>
        <section>
            <h2>LO MAS VENDIDO</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>

        </section>

    </main>




    <footer>

        <section class="piedepagina">
            <div class="logo">
                <a href="/">
                    <img src="/images/logoprovisorio.png" alt="logo de página">
                </a>
            </div>
    
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">categoria</a></li>
                <li><a href="#">novedades</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
    
            <article class="redes">
                <!-- < class="lista-iconos">-->
                <a Target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a Target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a Target="_blank"  href="https://www.gmail.com"><i class="far fa-envelope"></i></a>
                <a Target="_blank" href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
    
            </article>
        </section>
    </footer>
</body>

</html>