<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f49c1e77a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

    <title>LIBRERIA EL TIEMPO</title>
</head>

<body>
    <header>

        <section class="top">
            <!-- menu hamburguesa-->
            <div class="burger">
                <input type="checkbox" name="burger" id="burger" checked>
                <label for="burger"><i class="fas fa-bars"></i></label>
                <nav>
                    <ul type="none" class="menu">
                        <li><a href="#">Categorias</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Registro</a></li>
                    </ul>
                </nav>
            </div>
            <!--logo que redirecciona al home -->
            <div class="logo">
                <a href="/">
                    <img src="/images/logoprovisorio.png" alt="logo de página">
                </a>
            </div>
            <!--logo del carito que redireccione al carrito -->
            <div class="cart">
                <a href="/">
                    <i class="fas fa-shopping-bag"></i>
                </a>
            </div>
        </section>
        <!--barra de busqueda-->
        <section class="busqueda">
            <div class="lupa"><button class="lupa-boton"><i class="fas fa-search"></i></button></div>
        </section>


    </header>

    <main>

        <section class="banner">
            <img src="/images/banner.png" alt="banner promocional">
        </section>

        <section>
            <h2>NOVEDADES</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="/images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="/images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros - mario vargas </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="/images/DraculaCover.jpg" alt="Dracula" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.079</h3>
                        <p class="descuento">40% Off</p>
                        <h4>Dracula -Bram Stoker </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/DraculaCover.jpg" alt="Dracula" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.079</h3>
                        <p class="descuento">40% Off</p>
                        <h4>Dracula -Bram Stoker </h4>
                    </div>

                </article>
            </section>
        </section>
        <section>
            <h2>OFERTAS</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>
        </section>
        <section>
            <h2>CATEGORIAS</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>
        </section>
        <section>
            <h2>LO MAS VENDIDO</h2>
            <section class="articulos">

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/la ciudad y los perros.jpg" alt="La ciudad y los perros " >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$6.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>La Ciudad Y Los Perros </h4>
                    </div>

                </article>

                <article class="libros">
                    <img src="./images/el aleph.jpg" alt="El Aleph" >
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3 class="precio">$3.770</h3>
                        <p class="descuento">40% Off</p>
                        <h4>El Aleph - Jorge Luis Borges </h4>
                    </div>

                </article>


            </section>

        </section>

    </main>




    <footer>

        <!-- lista del footer-->
        <section class="footer-top">
           <!-- logo del footer que redirecciona a home-->
           <div class="logo">
            <a href="/">
                <img src="/images/logoprovisorio.png" alt="logo de página">
            </a>
        </div> 
            <nav>
                <ul type="none" class="footer">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
            
        </section>
        <p class="derechos">Todos los derechos reservados.</p>

    </footer>
</body>

</html>