<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body class="nosotros">

        <%- include('./partials/header') %>

            <main>
                <section class="banner">
                    <div class="glider-contain">
                        <div class="glider">
                            <img src="/images/NOSOTROS.png" alt="banner promocional">

                        </div>


                        <div role="tablist" class="dots"></div>
                    </div>

                </section>
                <section>
                   
                    <p>
                        La Libreria "EL TIEMPO" es una cadena donde reinan libros en los más diversos idiomas del mundo.
                        Somos una
                        empresa identificada con la difusión del conocimiento y con la contribución para una mejor
                        comunicación
                        entre las diferentes culturas, facilitado por el aprendizaje de las lenguas extranjeras.</p>

                    <p>Estas características nos hacen la elegida entre institutos, colegios y universidades que enseñan
                        lenguas, pero también del público que sale en busca de una novela, una guía o un libro favorito
                        en otro idioma.</p>


                    <P> Nuestra misión es promover el acceso a contenidos culturales, educativos y recreativos en una
                        amplia
                        variedad de soportes e idiomas.</p>
                    <p> Nuestra visión es ser la cadena de librerías líder y referente en
                        el
                        mercado argentino por calidad de servicios, productos e innovación.</P>
                </section>

              
                <p class="consultas">Si tenes una consulta te podes acercar de Lunes a Sabados de 9 a 20hs en la Calle Falsa 123 o contactarnos por nuestras redes. Te esperamos.</p>
                <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3222.1284310819506!2d-58.394294586703246!3d-34.583617998407654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa199c2f643%3A0x49e543b8331abe7d!2sMuseo%20Nacional%20de%20Bellas%20Artes!5e0!3m2!1ses-419!2sar!4v1660292562577!5m2!1ses-419!2sar" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
            </main>
        
        <%- include('./partials/footer') %>
        
       