<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body class="nosotros">

        <%- include('./partials/header') %>

            <main>
                <section class="banner">
                    <div class="glider-contain">
                        <div class="glider">
                            <img src="/images/NOSOTROS.png" alt="banner promocional">

                        </div>


                        <div role="tablist" class="dots"></div>
                    </div>

                </section >
                <article class="texto">
                <h1>El Tiempo</h1>
                <p>
                    La Libreria "EL TIEMPO" es una cadena donde reinan libros en los más diversos idiomas del mundo.
                    Somos una
                    empresa identificada con la difusión del conocimiento y con la contribución para una mejor
                    comunicación
                    entre las diferentes culturas, facilitado por el aprendizaje de las lenguas extranjeras.</p>

                <p>Estas características nos hacen la elegida entre institutos, colegios y universidades que enseñan
                    lenguas, pero también del público que sale en busca de una novela, una guía o un libro favorito en otro idioma.</p>
                
                
                <P>  Nuestra misión es promover el acceso a contenidos culturales, educativos y recreativos en una amplia
                    variedad de soportes e idiomas.</p>
                    <p> Nuestra visión es ser la cadena de librerías líder y referente en
                    el
                    mercado argentino por calidad de servicios, productos e innovación.</P>
                    <article>
            </main>

            <%- include('./partials/footer') %>

    </body>