<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f49c1e77a4.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>

<body class="home">
    <header>
        <section class="top">
            <!-- menu hamburguesa-->
            <div class="burger">
                <input type="checkbox" name="burger" id="burger" checked>
                <label for="burger"><i class="fas fa-bars"></i></label>
                <nav>
                    <ul type="none" class="menu">
                        <li><a class="burger-op" href="#">Categorias</a></li>
                        <li><a class="burger-op" href="#">Contacto</a></li>
                        <li><a class="burger-op" href="#">Login</a></li>
                        <li><a class="burger-op" href="#">Registro</a></li>
                    </ul>
                </nav>
            </div>
            <!--logo que redirecciona al home -->
            <div class="logo">
                <a href="/">
                    <img src="/images/LogoColor.png" alt="logo de página">
                </a>
            </div>
            <!--logo de login pantallas grandes-->
            <div class="login-icon">
                <a href="/login">
                    <i class="fas fa-user"></i>
                </a>
            </div>
            <!--logo del carito que redireccione al carrito -->
            <div class="cart">
                <a href="/carrito">
                    <i class="fas fa-cart-arrow-down"></i>
                </a>
            </div>
        </section>
        <!--barra de busqueda-->
        <section class="busqueda">
            <div class="lupa"><button class="lupa-boton"><i class="fas fa-search"></i></button></div>
        </section>
        <!--opciones del menu de tablet y desktop-->
        <section class="menu-opciones">
            <ul type="none">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </section>
    </header>