<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>



<body class="register">

<%- include('./partials/header') %>

<main>

    <h1>Registrate</h1>
    <form action="" method="post">
        <div class="container bottom">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" placeholder="Ingresa tu nombre" required>
            <small>Debe ingresar su nombre</small>
        </div>
        <div class="container bottom">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Ingresa tu email">
            <small>Debe ingresar su email</small>
        </div>
        <div class="container bottom">
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" placeholder="Ingresa tu Contraseña">
            <small>Debe ingresar su contraseña</small>
        </div>
        <div class="container bottom">
            <label for="pass2">Confirma tu contraseña</label>
            <input type="password" name="pass2" id="pass2" placeholder="Confirmar Contraseña">
            <small>Las contraseñas no coinciden</small>
        </div>
        
    

        <h2 class="bottom">Dejanos tus comentarios</h2>
        
            <textarea class="bottom" name="comentarios" id="comentarios" cols="30" rows="10" placeholder="Escribi tus comentarios"></textarea>
            <div class="bottom">
                <input type="checkbox" name="terminos" id="terminos">
                <label for="terminos">Acepto los terminos y condiciones</label>
            </div>
        

     
        <button type="submit">Registrarme</button>
        <button type="reset">Cancelar</button>
    </form>


</main>
<%- include('./partials/footer') %>
</body>

</html>