<footer>
    <article class="redes">
        <!-- < class="lista-iconos">-->
        <a Target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a Target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a Target="_blank" href="https://www.gmail.com"><i class="far fa-envelope"></i></a>
        <a Target="_blank" href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>

    </article>
    <section class="piedepagina">

        <div class="logo">
            <a href="#">
                <img src="/images/logoprovisorio.png" alt="logo de página">
            </a>
        </div>

        <ul>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/usuarios/register">Registrate</a></li>
            <li><a href="/usuarios/login">Login</a></li>
        </ul>


        <section class="servicios">
            <h4>Servicio de Atención al cliente</h4>
            <p>Email: libreria@tiempo.com.ar</p>

            <p> Central Telefónica: 0810 345 5577</p>

            <p>WhatsApp: 1140374037</p>



        </section>


    </section>
</footer>