<footer>
    <div class="content">
        <div class="top">
            <div class="logo-details">

                <spam>Libreria El Tiempo</spam>
            </div>
            <div class="media-icons">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://wa.me/541140374037"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/dilan-martinez/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="link-boxes">
            <ul class="box">
                <li class="link_name">EL TIEMPO</li>
                <li><a href="/">Home</a></li>
                <li><a href="/productos/categorias">Categorias</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">USUARIO</li>
                <li><a href="/usuarios/register">Registrate</a></li>
                <li><a href="/usuarios/login">Ingresar</a></li>
                <li><a href="/usuarios/perfil">Perfil</a></li>
                <li><a href="/productos/carrito">Compras</a></li>
            </ul>

            
            <ul class="box">
                <li class="link_name">CONTACTO</li>

                <li><a href="https://mail.google.com/" >libreria@tiempo.com</a></li>
                <li><a href="https://wa.me/541140374037" >Central Telefónica: <br>0810 345 5577</a></li>



            </ul>

            
        </div>
    </div>
    <div class="bottom-details">
        <div class="bottom_text">
            <span class="copyright_text">Copyright © 2022 El tiempo</span>

        </div>
    </div>
</footer>
<script src="/js/glider.js"></script>
<script src="/js/home.js"></script>