<header>
    <section class="top">
        <!-- menu hamburguesa-->
        <div class="burger">
            <input type="checkbox" name="burger" id="burger" checked>
            <label for="burger"><i class="fas fa-bars"></i></label>
            <nav>
                <ul type="none" class="menu">
                    <li><a class="burger-op" href="/administrador/listar">Administrador</a></li>
                    <li><a class="burger-op" href="/nosotros">Contacto</a></li>
                    <li><a class="burger-op" href="/usuarios/login">Login</a></li>
                    <li><a class="burger-op" href="/usuarios/register">Registro</a></li>
                </ul>
            </nav>
        </div>
        <!--logo que redirecciona al home -->
        <div class="logo">
            <a href="/">
                <img src="/images/logoprovisorio.png" alt="logo de página">
            </a>
        </div>
        <div class="busqueda">
            <input type="search" placeholder="Busca libros, autores y más">
            <button><i class="fab fa-sistrix"></i></button>
        </div>

        <section class="icon">
            <!--logo de login pantallas grandes-->
            <div class="cart">
                <a href="/usuarios/login">
                    <i class="fas fa-user"></i>
                </a>
            </div>
            <!--logo del carito que redireccione al carrito -->
            <div class="cart">
                <a href="/productos/carrito">
                    <i class="fas fa-cart-arrow-down"></i>
                </a>
            </div>
        </section>


    </section>



    <!--barra de busqueda-->

    <!--opciones del menu de tablet y desktop-->
    <section class="menu-opciones">
        <ul type="none">
            <li><a href="/productos/categorias">Categorias</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/usuarios/register">Registrate</a></li>
            <li><a href="/administrador/listar">Administrador</a></li>
        </ul>
    </section>
</header>